.input-field{
    width:100%;
    padding:14px;
    margin-bottom:18px;
    border:1px solid #d1d5db;
    border-radius:10px;
    font-size:15px;
    outline:none;
    box-sizing:border-box;
}

.input-field:focus{
    border-color:#2563eb;
}